@model Userspace.Web.Resources.LinkResource

@{
    ViewData["Title"] = "Tags partial";
}
@*<table id="Table">
    <tbody>
        @Html.EditorFor(x => x.Name)
    </tbody>
</table>


@Html.ActionLink(
    "Create tag",
    "CreateTag",
    "Home",
    new
    {
        TagName = Model.Name,
        LinkId = Model.ID
    },
    null
)*@

<h1>Add tag</h1>

<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="linkUrl" asp-for="Name" class="form-control" placeholder="URL" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.ActionLink("Add tag", "CreateTag", "Home", null, new { TagName = Model.Name, LinkId = Model.ID , @class = "btn btn-success" })
            </div>   
    </div>
</div>


<script>
      //$('#createtag').click(function () {
      //      var url = $('#tagName').val();
      //      $.ajax({
      //          url: 'CreateTag',
      //          data: {tagName :"fwafwa", linkId : "1234" },
      //          cache: false,
      //          success: function (data) {
      //              $('#Table > tbody').append(data);
      //          },
      //          error: function (a, b, c) {
      //              alert(a + " " + b + " " + c);
      //          }
      //      });
      //  });
</script>
