@*@model Userspace.Web.Resources.ModelVariables

    @{
        ViewData["Title"] = "Tags partial";
    }

    <body>
        @if (Model != null)
            {
            @using (Html.BeginForm())
            {
                <label> Select items </label>
                @Html.ListBoxFor(s => s.SelectedOptions, Model.Options)
                <input type="submit" />
            }
            }
    </body>*@

@model string

@{
    ViewData["Title"] = "Tags partial";
}

    <body>
        <label>@Model</label>
        <label>feafeaeaeageageegaegagea</label>
    </body>