@model Userspace.Web.Resources.ModelVariables

@{
    ViewData["Title"] = "Tags partial";
}

<body>
    @if (Model != null)
    {
        @using (Html.BeginForm())
        {
            <label> Select items </label>
            @Html.ListBoxFor(s => s.SelectedOptions, Model.Options)
            <input type="submit" />
        }
    }
</body>

<table id="Table">
    <tbody>
        @Html.EditorFor(x => x.TagName)
    </tbody>
</table>

@Html.ActionLink(
    "Create tag",
    "CreateTag",
    "Home",
    new
    {
        TagName = Model.TagName,
        LinkId = Model.LinkId
    },
    null
)

<script>
  //$('#createtag').click(function () {
  //          var url = $('#tagName').val();
  //          $.ajax({
  //              url: 'CreateTag',
  //              data: {tagName :"fwafwa", linkId : "1234" },
  //              cache: false,
  //              success: function (data) {
  //                  $('#Table > tbody').append(data);
  //              },
  //              error: function (a, b, c) {
  //                  alert(a + " " + b + " " + c);
  //              }
  //          });
  //      });
</script>